<!DOCTYPE html>
<!-- saved from url=(0066)https://css-tricks.com/examples/DisplayDirectoryContents/.htaccess -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>You've ripped a hole in the fabric of the internet. Love, Chris from CSS-Tricks</title>
</head>

<body><div id="StayFocusd-infobar" style="display:none;">
    <img src="chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div>

  <img src="./.htaccess_files/404.jpg" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;">




<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Minified using disk
Page Caching using apc
Database Caching 47/54 queries in 0.014 seconds using apc
Content Delivery Network via cdn.css-tricks.com

 Served from: css-tricks.com @ 2015-09-21 16:30:45 by W3 Total Cache --></body></html>